/* --------------------------------------------------------------------------------------- CSS Global --------------------------------------------------------------------------- */

/* Police utilisées */

@font-face
{
    font-family: 'Roboto';
    src: url('webagency_images/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('webagency_images/fonts/Roboto/Roboto-bold.ttf') format('truetype');
}

@font-face
{	font-family: 'glyphicons';
    src: url('webagency_images/fonts/Glyphicons/glyphicons-halflings-regular.ttf') format('truetype');
}

@font-face
{
	font-family: 'fontawesome';
    src: url('webagency_images/fonts/fontawesome/fontawesome.ttf') format('truetype'),
    url('fontawesome-webfont.eot') format ('eot');
}

/* Body and co */

body
{
	font-family: Roboto;
	width: 100%;
	margin: 0;
	
}

ul
{
list-style-type: none;
}

h1
{
	color: #272727;
	font-family: roboto-bold;
	font-size: 2.5em;

}

p
{
	color: #666A6F;
	font-size: 12px;
	font-size: medium;
}

/* Links */

a
{
	color: grey;
	text-decoration: none;
}





/* ---------------------------------------------------------------------------------------- CSS page 1 --------------------------------------------------------------------------- */

.page1
{
	background-image:linear-gradient(white, #F5F5F5);
}


/* Container accueil */

.container_accueil
{
	position: fixed;
	display: flex;
	justify-content: space-around;
	margin:0;
    padding:0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding-top: 15px;
    background-color: white;
    opacity: 0.8;
}

.li, .ul,
{
	margin-left: 150px;
}

.okok:hover
{
border-top: 2px solid #5CADD3;
}

.okok
{
	margin-left: 30px;
}

/*Slider*/

.slide
{	float: left;
	padding-top: 100px;
	height: auto;
	width: 1500px;
	position: relative;
}

.slides
{
	width: calc(1500px * 2);
	animation: superanime 10s infinite;
	/*animation: superanime 10s infinite;*/

}

.slider
{
	
	overflow: hidden;
	display:block;
	width: auto;
	width: 1500px;
	margin: auto;
}

@keyframes superanime {

0% {
	transform: translateX(0);
}

10% {
	transform: translateX(0);
}

20% {
	transform: translateX(0);
}

50% {
	transform: translateX(-1600px);
}

60% {
	transform: translateX(-1600px);
}

70% {
	transform: translateX(-1600px);
}

100% {
	transform: translateX(0);
}

}

/*box infos dans slider*/

.text_intro
{
	margin-left: 110px;
	margin-top: 250px;
	font-family: 'roboto-bold';
	font-size: 35px;
	font-weight: bold;
	color: white;
	position: absolute;
	max-width: 100% ;
}

.ligne2
{
	font-size: 15px;
}

.box_infos
{
	width: 90px;
	height: 33px;
	background-color: #5CADD3;
	border-radius: 8%;
	border-bottom: 2px solid #4494BB;
	position: absolute;
	margin-top: 400px;
	margin-left: 110px;
}



.Web
{
	color: #5CADD3;
}

.plus_infos
{
	color: white;
	margin-top: 8px;
	margin-left: 3px;
	position: absolute;
}





/* ------------------------------------------------------------------------------------- CSS page 2 ----------------------------------------------------------------------------- */



#Services
{
	text-align: center;
	margin-top: 80px;
}

/* Container trait-ron_bleu_trait page 2 */


.container1
{
	display: flex;
	align-items: center;
	justify-content: center;

}

/* Trait1 gris page 2 top */


.trait1
{
	height:1px;
	background-color:#DADADA;
	width: 90px;

}

/* Rond bleu page 2 top */

.cercle1
{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #5CADD3;
}

/* Trait2 gris page 2 top */

.trait2
{
	height:1px;
	background-color:#DADADA;
	width: 90px;
}

/* Phrase d'accroche page 2 */

.p_services
{
	text-align: center;
}


/*---------------------------------------------------------------------------------------------*/


.page3
{
	background-image:linear-gradient(#F5F5F5, white);
}

.textes_logos1, .textes_logos2, .textes_logos3
{
	display: flex;
}


.page2
{
	display: flex;
	margin-top: 80px;
}


.textes_logos1,.textes_logos2, .textes_logos3
{
margin-left: 190px;
margin-top: 40px;
}

.textes_logos3
{
	margin-bottom: 60px;
}

/* Image mac */

.mac
{
height: 80%;
margin-left: 200px;

}

/*------------------------------------ full logo 1 page 2---------------------------------------------*/
/* Cercle gris ux page 2*/

.cercle4, .cercle3, .cercle2
{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: white;
	border: 1px #E5E5E5 solid;
}

/* Mini cercle bleu seo design page 2*/

.minicercle1, .minicercle2, .minicercle3
{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #5CADD3;
	margin-left: 49px;
	margin-top: 22px;
	position: absolute;
	
}

/* texte ux */

.ux_text, .seo_text, .ui_text
{
margin-left: 30px;
margin-top: 0px;
}

.fa-poll-h, .fa-adjust, .fa-circle-notch
{
	color: #5CADD3;
	position: absolute;
	margin-top: 21px;
	margin-left: 22px;
}

/* ------------------------------------------------------------------------------------- CSS page 3 ----------------------------------------------------------------------------- */


.ok
{
	font-weight: bold;
	color: black;
}


.container_3
{
	margin-left: 250px;
	margin-bottom: 30px;
}


.photos_page3

{
	width: 20%;
	height: auto;
	margin-left: 20px;
	margin-bottom: 20px;
}



.projets
{
	text-align: center;
}

/* container trait rond_bleu trait page 3 */

.container2
{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Trait1 gris page 3 top */

.trait1_page3
{
	height:1px;
	background-color:#DADADA;
	width: 90px;
}

/* Rond bleu page 3 top */

.cercle1_page3
{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #5CADD3;
}

/* Trait2 gris page 3 top */

.trait2_page3
{
	height:1px;
	background-color:#DADADA;
	width: 90px;
}

/* Titre page 3 top */

#projets
{
	text-align: center;
}

/* description_services_paragraphe page 3 top */

.description_services
{
	text-align: center;

}

/* flexbox Liens dans boites grises */

.hyper
{
	text-align: center;
}

.cadre
{
	margin-top: 8px;
	margin-left: 11px;
	position: absolute;
}

.cadre:hover
{
	color: white;
	font-style: bold;
}

.box_cadre
{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
}

.cadre1:hover, .cadre2:hover, .cadre3:hover, .cadre4:hover
{
	background-color: #5CADD3;
	opacity: 0.7;
	border-bottom: 3px outset #468CAD;
}

.cadre1, .cadre2, .cadre3, .cadre4
{
	width: 90px;
	height: 33px;
	background-color: #F5F5F5;
	
}

/* ------------------------------------------------------------------------------------- CSS page 4 -----------------------------------------------------------------------*/

#form
{

width: 400px;
height: 600px;
background-color: #EDF4FA;
opacity: 0.7;
position: absolute;
z-index: 2;
margin-top: 110px;
margin-left: 100px;
text-align: center;
border-radius: 1%;
}

.form_text
{
	color: black;
}

.form_text_
{
	color: black;
	font-weight: bold;
}

.map
{
	position: relative;
	z-index: 1;
}

.Submit
{
background-color: #5CADD3;
color: white;
}


/*----------------------------------------MEDIA----------------------------------*/

@media screen and (max-width: 1024px)
{

body
{
	width: auto;
}

ul
{	display: flex;
	flex-direction: column;
	
}

.logo
{
	display: none;

}

.container_accueil
{
	display: flex;
flex-direction: column;
}


.slider
{
display: none;

}

.page2
{
flex-direction: column;
text-align: center;
}

.mac
{
width: 40%;
}

#Services
{
	margin-top: 150px;
}

.seo, .ui, .ux
{
	display: none;
}

#form
{

}

}